.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 5rem;
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

li,
a {
  text-decoration: none;
  color: black;
  list-style-type: none;
}

select:hover {
  cursor: pointer;
}
select {
  border: none;
  outline: none;
}
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.5rem;
}
/* Style for the Sign Up button */
.signup-button {
  background-color: #333ac0;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

/* Style for the Login Up button */
.login-button {
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
}

.main-section {
  margin: 6rem 5rem;
}

.priceing {
  color: black;
  color: blue;
}

.subBoldtext {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: 25rem;
  width: 68rem;
  margin: 0 auto;
}

.g-col-6 {
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(79, 113, 226);
  border-radius: 10px;
}

.g-col-6 {
  width: calc(50% - 30px);
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .g-col-md-4 {
    width: calc(33.33% - 10px);
    padding: 10px;
  }
}

.checkBoxImg {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 2rem;
}

.wrap-img-content-inOneLine {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 1rem;
  text-align: left;
  justify-content: center;
}

.wrap-img-content-inOneLine p {
  flex: 3; /* Allow the text to expand to fill available space */
  margin: 0 12px; /* Remove default margin */
}

.boxButton {
  position: relative;
  margin-top: 2rem;
}

.btnn {
  background-color: rgb(116, 35, 196);
  padding: 0.3rem 5rem;
  color: white;
  border-radius: 10px;
  border: none;
}

.features {
  margin-top: 6rem;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
}

.features h6 {
  color: blue;
}
.features h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* Added hover effcts  on card */
.box1:hover,
.box2:hover,
.box3:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Added effect on Button when hover get bit bigger than original */
.boxButton button.btnn:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.05);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Added media-query for responsive */
/* For Mobile devices  */
@media (min-width: 319px) and (max-width: 480px) {
  .grid {
    display: inline-block;
    margin: auto;
  }

  li,
  select {
    display: none;
  }

  .box1,
  .box2,
  .box3 {
    width: calc(66% - 324px);
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    height: 27rem;
  }

  .features {
    width: 147%;
    /* position: static; */
    /* margin-top: 3rem; */
    position: absolute;
    top: 124rem;
    left: 22rem;
    margin: auto;
  }
  .para {
    width: 151%;
    display: flex;
    flex-direction: column;
    margin-left: 22rem;
  }

  .left-nav {
    margin-left: 25rem;
  }
  .right-nav {
    display: none;
  }
}

/* For I pad and Tablets */

@media (min-width: 480px) and (max-width: 768px) {
  .features {
    width: 120%;
    position: absolute;
    top: 77rem;
    margin-left: 13rem;
  }

  .para {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
    width: 220%;
    margin-bottom: 3rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7rem;
    gap: 273px;
    margin-top: 7rem;
  }

  .left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    margin-left: 6rem;
  }

  .right-nav {
    display: none;
  }
}

/* for small screen laptops  */

@media (min-width: 768px) and (max-width: 1024px) {
  .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
  }
  .container {
    margin-top: 7rem;
    margin-left: 5rem;
    gap: 68px;
  }
}

@media (min-width: 767px) and (max-width: 816px) {
  .features {
    margin-top: 6rem;
    background-color: #f9f9f9;
    padding: 58px;
    border-radius: 10px;
    margin-left: 0rem;
    width: 158%;
  }
  .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
    position: relative;
    left: 23rem;
  }
}

@media (min-width: 811px) and (max-width: 1024px) {
  .right-nav {
    position: relative;
    left: 8rem;
  }
}
